@use "../abstracts";
.header {
    width : 100%;
    height : 100vh;
    position : relative;
    clip-path: polygon(50% 0%, 100% 0, 100% 86%, 0 100%, 0% 60%, 0 0);
    z-index :100;
    &__logo {
        @include abstracts.position(absolute, 5rem, 0, null, null, null, null);
        z-index : 1;
        img {
            width : 50rem;
            height : auto;
            object-fit : cover;
            animation : headerImage .5s linear;
            image-rendering : pixelated;
           
            @keyframes headerImage {
                from {
                    opacity : 0;
                } to {
                    opacity : 1;
                }
            }
        }
    }
    &__video {
        img{
            width : 100%;
            height : 100%;
            object-fit : cover;
        }
        @include abstracts.position(absolute,0,0,null,null,100%,100%);
        overflow : hidden;
    }
    &__contents {
        @include abstracts.position(absolute,0,0,null,null,100%,100%);
        background-color : rgba(0,0,0,.4);
        &__text {
            @include abstracts.align(flex, center,center, 100vh);
            &__child{
                &__h1 {
                    color : abstracts.$white;
                    text-transform : uppercase;
                    font-weight : 900;
                    font-size : 4rem;
                    line-height:2.7rem;
                    @include abstracts.animation(heading, 1s, ease-in, -8rem, 0)
                }
                &__p{
                    margin-top : .8rem;
                    color : abstracts.$white;
                    font-size : 1.5rem;
                    @include abstracts.animation(subHeading, 1s, ease-out, -10rem, 0)
                }
                &__link {
                    margin-top : .8rem;
                    @include abstracts.animation(headerButton, 1s, ease-out, 8rem, 0)
                    
                }
            }
        }
    }

}